.header{
    font-family: var(--font-family);
    font-weight: var(--extra-bold);
    height: 10vh;
    background-color: blanchedalmond;
    flex-flow: initial;
    font-size: 1.5rem;

}

span{
    color:var(--primary-color);
}