.hackerPanel {
  grid-area: hackerPanel;
  /* width: 70vw; */
  /* border:1px solid black; */
  background: rgb(238, 238, 238);
  display: grid;
  /* row-gap: 10px; */
  grid-template-rows: repeat(auto-fit, minmax(10px, 1fr));
  background: white;
  padding: 0 10px;
}
.headerWrapper {
  display: grid;
  row-gap: 1rem;
  height: var(--header-height);
}
.threadPanelWrapper {
  height: calc(100vh - var(--header-height));
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
